#survey-form{
display: block;
margin-left: auto;
margin-right: auto;
background-color: cyan;
max-height: 500px;
max-width: 500px;
text-align:center;
padding-bottom: 30px;
padding-top: 30px;

}
#title{
text-align: center;
}
#description{
	text-align: center;
}
#name{
	border-radius: 15px 50px 30px 5px;
	padding: 10px;

}
#email{
	border-radius: 15px 50px 30px 5px;
	padding: 10px;

}
